 
.moji {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

/*flag*/
.moji-cn {
    background-image: url("./moji/cn.svg")
}
.moji-uk {
    background-image: url("./moji/uk.svg")
}
.moji-es {
    background-image: url("./moji/es.svg")
}
.moji-ar {
    background-image: url("./moji/ar.svg")
}
.moji-trans {
    background-image: url("./moji/trans.svg")
}
.moji-eo {
    background-image: url("./moji/eo.svg")
}
.moji-lat {
    background-image: url("./moji/lat.svg")
}
.moji-th{
    background-image: url("./moji/th.svg")
}
.moji-su{
    background-image: url("./moji/su.svg")
}
/*social*/
.moji-github {
    background-image: url("./moji/github.svg")
}
.moji-mail {
    background-image: url("./moji/mail.svg")
}
.moji-twitter {
    background-image: url("./moji/twitter.svg")
}
.moji-telegram {
    background-image: url("./moji/telegram.svg")
}
.moji-bilibili {
    background-image: url("./moji/bilibili.svg")
}
.moji-youtube {
    background-image: url("./moji/youtube.svg")
}
.moji-twitch {
    background-image: url("./moji/twitch.svg")
}
/*system*/
.moji-ubuntu {
    background-image: url("./moji/ubuntu.svg")
}
.moji-manjaro {
    background-image: url("./moji/manjaro.svg")
}
.moji-archlinux {
    background-image: url("./moji/archlinux.svg")
}
/*language*/
.moji-python {
    background-image: url("./moji/python.svg")
}
.moji-php {
    background-image: url("./moji/php.svg")
}
/*money*/
.moji-eth {
    background-image: url("./moji/eth.svg")
}
.moji-bch {
    background-image: url("./moji/bch.svg")
}
.moji-xmr {
    background-image: url("./moji/xmr.svg")
}
/*ideas*/
.moji-communism {
    background-image: url("./moji/communism.svg")
}
.moji-feminism {
    background-image: url("./moji/feminism.svg")
}
.moji-fist {
    background-image: url("./moji/fist.svg")
}
.moji-anarchism {
    background-image: url("./moji/anarchism.svg")
}
.moji-peace {
    background-image: url("./moji/peace.svg")
}
